@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color60:#2E3340;
  --color30: #2a2634;
  --color10: #ebb928;
  --font: #ffffff;
  --contrast-to-color10: #000;
} 

body {
  color: rgb(var(--foreground-rgb));
  background: #1e1e1e
}
